.body{
    font-family: "Raleway", sans-serif;
}

 /* Commit 4 */


.header {
    padding:92px 50px 100px; 
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    
}

.header-logo {
    width:148px;
    height:105px;
    margin-left:36.2px;
    margin-right:184px;
    
}

.nav {
    display:flex;
    gap:32px;
    white-space: nowrap;
}



.nav-a {
    font-weight: 400;
    font-style:regular;
    font-size:18px;
    
}

.nav-item {
    list-style: circle;
    
}

 li, .active {
    list-style:none;
    text-decoration: none;
}

.address {
    width:240px;
    font-weight:400;
    font-size:18px;
    line-height:24.3px;
    font-style:normal;
    
}

.header_address {
    display:block;
}





.cover { 
    color:white;
    text-transform:uppercase;
    z-index:0;
    background-image: url('../images/cover.jpg');
    position: relative;
    min-width: 1100px;
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.cover_title {
    text-transform:uppercase; 
    font-family: "Raleway", sans-serif; 
    font-weight:700; 
    font-style:bold; 
    font-size:100px; 
    display:flex; 
    flex-direction: column; 
    position: relative;
    margin-left:50px;
    padding-top:165px;
    
    
    
    
}

/*подогнал под макет*/

.left {
    justify-self: flex-start;
    text-align: left;
    letter-spacing: 30px;
}

.center {
    justify-self: center;
    text-align: center;
    letter-spacing: 30px;
    margin-top:16px;
    padding-right:20px;
}

.right {
    justify-self: end;
    text-align: end;
    letter-spacing: 30px;
    margin-top:21px;
    padding-right:20px;
}

.left .right .center {
    line-height:114%;
    letter-spacing: 30px;
    
    
}

.cover_description {
  max-width:1000px;
  
  display:flex;
  justify-content: space-between;
  padding-bottom:50px;
  margin-top:106px;
  margin-left:50px;
  align-items: center 
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  text-transform:uppercase;
  
}

.button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  line-height:28px;
  text-transform:uppercase;
}


/*еще правки*/


.lots {
    
    padding-left:auto;
}

.title_lots {
  padding-top: 179px;
  padding-bottom: 26px;
  padding-left: 64px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.container_lots {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  justify-content: flex-start; 
  padding: 0; 
  margin: 0 auto;
  margin-left: 20px; 
  
}

.card_lots {
  max-width: 334px;
  min-height: 596px;
  flex-grow: 1;
  
}




.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_about_cinema {
  background-image: url(./../images/card-lot-01.jpg);
}

.card_about_book {
  background-image: url(./../images/card-lot-02.jpg);
}

.card_about_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.cards-style{
  text-decoration: none; /*добавил свойство*/
}



.text_on_card {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.view_more {
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 64px;
}

.about {
    margin-top:120px;
    margin-bottom:180px;
    margin-left:24px;
    margin-right:24px;
}

.about-container {
    display:flex;
    flex-direction: row;
    gap:72px;
    justify-content: center;
}

.about-logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:35px;
  margin-left:47px;
  flex-shrink: 0;
  flex-grow: 0;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about-content {
    display: flex;
  flex-direction: column;
  gap: 24px;
  
  margin-top:133px;
}

.about-title {
    color:black;
    font-size:40px;
    font-weight:700;
    line-height:46.96px;
    text-transform: uppercase;
}

.about-text {
    align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  
  
}

.up {
    padding-top:76px;
}

.down {
    padding-top: 25px;
}

footer {
    display:flex;
    justify-content: space-between;
    
    padding-bottom:84px;
    
    
}

.soc {
    max-width:240px;
    display:flex;
    justify-content: space-around;
    gap:48px;
    box-sizing: border-box;

    margin-right:50px;
    
}

.images_footer {
    width:48px;
    height:48px;
}

.footer-address {
    display:flex;
    flex-direction: column;
    padding-left:50px;
    font-size:18px;
    line-height:24.3px;
    white-space:nowrap;
    font-style:normal; /*добавил свойство*/
    
}



.footer-list {
    align-self:center;
    list-style:none;
    text-align:center;
    white-space: nowrap;
    font-size:18px;
    font-weight:400;
    
}

.footer-list-item .glav {
    list-style: none;
}

.footer-list-item {
    text-decoration: underline;
}

.glav {
    text-decoration: none;
}

.tel, .mail{
  text-decoration: underline;
  text-decoration-color: black; /* подчеркивания */
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}